<html>
<head>
    <script src="bower_components/angular/angular.js"></script>
    <script src="js/vendor/i18n/angular-locale_zh-tw.js"></script>
    <script src="js/start_basic.js"></script>

    <style>
        .invalid {
            color: red;
        }

        .valid {
            color: green;
        }
    </style>
</head>
<body>
    <!-- ng-app -->
    <!-- ng-init -->
    <!-- ng-controller -->
    <!-- init with value, oibject, array -->
    <div ng-app="testModule" ng-init="name='JiWei';a=7;b=8;obj={name:'Hunter', age:32};points=[2,5,1,7]" ng-controller="personController">
        <h1>Basic binding</h1>
        <!-- ng-model -->
        <h3>ng-model</h3>
        <input name="input" type="input" ng-model="name" />

        <!-- ng-bind -->
        <h3>ng-bind</h3>
        Your input is: <span ng-bind="name"></span><br />
        a*b: <span ng-bind="a*b"></span><br />
        Controller Method => plus(4,5): <span ng-bind="plus(4,5)"></span><br />
        User: <span ng-bind="obj.name+ '-'+ obj.age"></span><br />
        array[3]: <span ng-bind="points[3]"></span> <br />

        <div ng-bind="html"></div>

        <!-- expression -->
        <h3>Expression</h3>
        Your input is: {{name}}<br />
        5+5: {{5+5}}; 5*5: {{5*5}}; a*b: {{a*b}} <br />

        value1 + value2: {{value1+value2}} <br />

        Controller Method => 4+5: {{plus(4, 5)}} <br />
        User: {{obj.name + '-' + obj.age}} <br />
        array[3]: {{points[3]}} <br />

        <h1>Disable, Enable</h1>
        <!-- ng-disabled -->
        <h3>ng-disabled</h3>
        Disabled checkbox <input type="checkbox" ng-disabled="switch" />
        Click to enable and disable: <input type="checkbox" ng-model="switch" /> <br />

        <!-- ng-show -->
        <h3>ng-show, set display style</h3>
        <p ng-show="show">Show me</p>
        Click to show or hide: <input type="checkbox" ng-model="show" /> <br />

        <h1>Show, Hide, if</h1>
        <!-- ng-hide -->
        <h3>ng-hide, set display style</h3>
        <p ng-hide="hide">Hide me</p>
        Click to show or hide2: <input type="checkbox" ng-model="hide" /> <br />

        <!-- ng-if -->
        <h3>ng-if, remove from the whole DOM tree</h3>
        <div ng-if="if">If content</div>
        <div ng-if="if2">If2 content</div>

        <!-- form -->
        <h1>Form</h1>
        <h3>form</h3>
        <form novalidate>
            <input type="text" ng-model="user.name" />
            <input type="text" ng-model="user.age" />
            <p><input type="button" value="Reset" ng-click="reset()" /></p>
            <p>{{user}}</p><p>{{master}}</p>
        </form>

        <h3>form - check box</h3>
        <form novalidate>
            <p>
                Check it: <input type="checkbox" ng-model="check1" />
                {{check1}}
            </p>
        </form>

        <h3>form -radio button</h3>
        <form novalidate>
            <p>
                Radio1: <input type="radio" name="radio1" value="Radio 1" ng-model="radioX" />
                Radio2: <input type="radio" name="radio1" value="Radio 2" ng-model="radioX" />
            </p>
            {{radioX}}
        </form>

        <h3>form -select</h3>
        <form novalidate>
            <select ng-model="selectX">
                <option value="book">Book</option>
                <option value="game">Game</option>
                <option value="ralax">Relax</option>
            </select>
        </form>

        <h5>ng-options</h5>
        <form novalidate>
            <p>optionBinding Expression dataSource Expression</p>
            <p>dataSource Expression => for obj in optionArray</p>
            <p>optionBinding Expression => keyfield as valuefield(example: obj.id as obj.name)</p>
            {{selectY}}
            <select ng-model="selectX"
                    ng-options="obj.id as obj.name for obj in classmates">
            </select>

            , {{selectY}}:
            <select ng-model="selectY"
                    ng-options="obj.value as obj.name for obj in classmates">
                <option value="">Please choose a name</option>
            </select>

            , {{selectY}}
            <select ng-model="selectZ"
                    ng-options="obj.value as obj.name for obj in classmates"
                    multiple>
                <option value="">Please choose a name</option>
            </select>
            
            <label>
                Option Select: 
                <select ng-model="user.selectZ" 
                    name="selectZ" 
                    ng-options="option.label for option in repeatList track by option.id"
                    required>
                    <option value="">---Please select---</option>
                </select>
            </label>
        </form>
        

        <!-- form validation -->
        <!-- form noinvalid, name is required-->
        <!-- input, name is required. -->
        <!-- input has required, email as tyle -->
        <!-- use form.fieldname.$error.email -->
        <!-- use form.fieldname.$error.required -->
        <!-- use form.fieldname.$invalid -->
        <!-- use form.fieldname.$dirty -->
        <h3>form validation</h3>
        <form novalidate name="myForm">
            <input type="text" name="student_name" ng-model="student.name" required>
            <span ng-show="myForm.student_name.$error.required">Name is required</span> <br />

            <input type="email" name="student_email" ng-model="student.email" required>
            <span ng-show="myForm.student_email.$error.required">Email is required</span>
            <span ng-show="myForm.student_email.$error.email">Email is not formatted correctly</span>

            <p><input type="button" value="Submit" ng-disabled="(myForm.student_name.$dirty && myForm.student_name.$invalid) ||
            (myForm.student_email.$dirty && myForm.student_email.$invalid)" /></p>

            <p>
                <h5>ng-minlengh && ng-maxlength</h5>
                <input type="text" name="minmax" ng-model="minmax" ng-minlength="5" ng-maxlength="8" />
                $error: {{myForm.minmax.$error}}
                , Only valid output will be here: {{minmax}}
            </p>
            <p>
                <h5>ng-pattern && ng-required && ng-class</h5>
                <input type="text" name="ngpattern" ng-model="ngpattern" ng-pattern="/^(\d+)?$/" ng-required="true" />
                $error: {{myForm.ngpattern.$error}}
                , Only valid output will be here: {{ngpattern}}
                , myForm.$pristine, if form not changed: {{myForm.$pristine}}<br />
                , $dirty: {{myForm.$dirty}}
                , $valid: {{myForm.$valid}}
                , $invalid: {{myForm.$invalid}}<br />
                , ngpattern.$dirty: {{myForm.ngpattern.$dirty}}
                , <span ng-class="{valid: getNgPatternClass()}">ngpattern.$valid: {{myForm.ngpattern.$valid}}</span>
                , <span ng-class="getNgPatternInvalid()">ngpattern.$invalid: {{myForm.ngpattern.$invalid}}</span>
            </p>
        </form>

        <!-- ng-click -->
        <h3>ng-click</h3>
        <p>
            <input type="button" ng-click="addName()" value="Add ! for name" />
        </p>

        <!-- ng-submit -->
        <h3>ng-submit</h3>
        <form name="myForm2" ng-submit="myForm2_submit()" novalidate>
            <input type="text" name="name" ng-model="myForm2_name" ng-required="true" ng-pattern="/^\d+$/"/>
            <input type="submit" value="Submit" />
            myForm2.name: {{myForm2.name}}
            <p>$error: {{myForm2.name.$error}}</p>
            <p>$valid: {{myForm2.name.$valid}}</p>
            <p>$invalid: {{myForm2.name.$invalid}}</p>
            <p>$dirty: {{myForm2.name.$dirty}}</p>
        </form>

        <h1>Include</h1>
        <!-- ng-include-->
        <h3>ng-include</h3>
        <!-- pay attention to the single quote -->
        <p>
            <span ng-include="'includeContent/include1.html'"></span>
        </p>
        <p>
            <span ng-include="'includeContent/include2.html'"></span>
        </p>

        <h1>Switch</h1>
        <!-- ng-switch -->
        <!-- ng-switch-when -->
        <!-- ng-switch-default -->
        <h3>ng-switch</h3>
        <label>
            Select By Switch: 
            <select ng-model="user.switch" name="switch" required>
                <option value="">---Please select---</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </label>
        <div ng-switch="user.switch">
            <div ng-switch-when="1">Switch 1</div>
            <div ng-switch-when="2">Switch 2</div>
            <div ng-switch-default>Switch Default</div>
        </div>

        <!-- $watch(), $digest(), $apply() -->
        <h3>$watch()</h3>
        <div>
            <input type="button" ng-click="updateTime()" value="Update Time(ng-click)" />
            <input type="button" id="buttonUpdateTime" value="Update Time(normal button)" />
        </div>
        <p>{{timeX}}</p>

        <!-- $timeout-->
        <h3>$timeout</h3>
        <p>{{time3}}</p>

        <!-- $inerval -->
        <h3>$interval</h3>
        <p>{{time4}}</p>
    </div>

    <script>

    </script>
</body>
</html>