<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width">
    <meta charset="UTF-8">
    <title>Scope Basic</title>

    <script src="bower_components/angular/angular.js"></script>
    <script src="js/scope_basic.js"></script>
</head>
<body ng-app="myModule">
    <div id="main" ng-controller="myController">
        <h1>Test Basic Scope concept</h1>
        <div>
            Say:
            <input type="text" ng-model="userInput" />
            <button ng-click="sayHello()">Say Hello</button>
        </div>
        <div>
            {{greeting}}
        </div>
        <h3>From chrome console, select an element, then use: angular.element($0).scope(), to see scope</h3>
    </div>
</body>
</html>