<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width">
    <meta charset="UTF-8">
    <title>Filter</title>

    <script src="bower_components/angular/angular.js"></script>
    <script src="js/filter.js"></script>
</head>
<body ng-app="myModule" ng-init="points=[2,5,1,7];">
    <div id="main" ng-controller="myController">
        <!-- Filter -->
        <h3>Filter, uppercase, lowercase, currency</h3>
        Upper: {{name|uppercase}} <br />
        Lower: {{name|lowercase}} <br />
        Currency: {{55|currency}} <br />

        <h3>| number</h3>
        <p>{{75923|number}}</p>
        <p>Local related(i18n): {{18234 | number}}</p>

        <h3>i18n</h3>
        <h4>date</h4>
        <p>Local related(i18n): {{dateX | date}}</p>
        <p>Local related(i18n) yyyy-MM-dd HH:mm:ss: {{dateX | date: 'yyyy-MM-dd HH:mm:ss'}}</p>
        <p>Local related(i18n) medium: {{dateX | date: 'medium'}}</p>
        <p>Local related(i18n) short: {{dateX | date: 'short'}}</p>
        <p>Local related(i18n) fullDate: {{dateX | date: 'fullDate'}}</p>
        <p>Local related(i18n) mediumDate: {{dateX | date: 'mediumDate'}}</p>
        <p>Local related(i18n) shortDate: {{dateX | date: 'shortDate'}}</p>
        <p>Local related(i18n) longDate: {{dateX | date: 'longDate'}}</p>
        <p>Local related(i18n) shortTime: {{dateX | date: 'shortTime'}}</p>
        <p>Local related(i18n) mediumTime: {{dateX | date: 'mediumTime'}}</p>

        <h4>currency</h4>
        <p>Local related(i18n): {{18 | currency}}</p>
        <p>Local related(i18n) '$': {{18 | currency: '$'}}</p>

        <h3>| json</h3>
        <p>Object: {{master}}</p>
        <p>JSON: {{master|json}}</p>

        <!-- ng-repeat -->
        <h3>ng-repeat, Array</h3>
        <div>
            <span ng-repeat="p in points">
                <span ng-bind="p"></span>
                 - {{p}}
            </span>
        </div>

        <!-- ng-repeat, Array -->
        <h3>ng-repeat, Array of object</h3>
        <ul>
            <li ng-repeat="b in books">
                <span>$index:{{$index}}, {{b.name + "=>" + b.price}}</span>
                <span>$first:{{$first}}, $middle: {{$middle}}, $last:{{$last}}</span>
                <span class="desc">
                    $even: {{$even}}, $odd: {{$odd}}
                </span>
            </li>
        </ul>

        <!-- ng-repeat, Object -->
        <h3>ng-repeat, object</h3>
        <ol>
            <li ng-repeat="(key, value) in master">
                {{key}} -> {{value}}
            </li>
        </ol>

        <!-- ng-repeat-start, ng-repeat-end -->
        <h3>ng-repeat-start, ng-repeat-end, object</h3>
        <ul>
            <li ng-repeat-start="(key, value) in master">
                {{key}}
            </li>
            <li ng-repeat-end>
                {{value}}
            </li>
        </ul>

        <h3>Default filter filter string within list of object</h3>
        <form name="form" novalidate class="css-form">
            <div>
                <label>Filter List: <input type="text" ng-model="user.filter" name="filter" required /></label>
            </div>
        </form>
        <div ng-repeat="item in list | filter: user.filter | orderBy: 'name'">
            {{item | json}}
        </div>

        <h3>ng-repeat, | orderBy: 'price'</h3>
        <ul>
            <li ng-repeat="b in books | orderBy: 'price'">
                {{b.name}} : {{b.price}}
            </li>
        </ul>

        <h3>ng-repeat | orderBy: 'Name'</h3>
        <ol>
            <li ng-repeat="name in names">
                {{name.name}} => {{name.country}}
            </li>
        </ol>
        <table>
            <tr ng-repeat="name in names | orderBy: 'name'">
                <td>{{name.name}}</td>
                <td>{{name.country|uppercase}}</td>
            </tr>
        </table>

        <h3>ng-repeat | limitTo:2</h3>
        <table>
            <tr ng-repeat="b in books| limitTo: 2">
                <td>{{b.name}}</td>
                <td>{{b.price}}</td>
            </tr>
        </table>

        <!-- Filter by value -->
        <h3>ng-repeat, filter by field, order</h3>
        <ul>
            <li ng-repeat="b in books | filter: 'Storm' | orderBy: 'price'">
                {{b.name}} => {{b.price}}
            </li>
        </ul>

        <!-- Filter by function -->
        <h3>ng-repeat, filter by function, order</h3>
        <ul>
            <li ng-repeat="b in books | filter: filterBook | orderBy: 'price'">
                {{b.name}} => {{b.price}}
            </li>
        </ul>

        <!-- Filter assign to Variable -->
        <h3>Filter result Assign</h3>
        <ol>
            <li ng-repeat="b in books2 = (books | filter: filterBook)">
                {{b.name}} - {{b.price}}
            </li>
        </ol>
        <p>books2.length = {{books2.length}}</p>

        <h3>Customized filter, conversion</h3>
        <div class="filterDiv">
            {{msg1 | hello}}<br />
            {{msg2 | hello}}
        </div>

        <h3>Customized Filter, list item filter</h3>
        <ul>
            <li ng-repeat="b in (books | myFilter:0:2)">
                {{b.name}} => {{b.price}}
            </li>
        </ul>

        <h3>Customized filter, with 2 parameters, conversion</h3>
        <div class="filterDiv">
            {{msg2 | hello2:'param1':'param2'}}
        </div>
    </div>
</body>
</html>