<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width">
    <meta charset="UTF-8">
    <title>Form</title>

    <script src="bower_components/angular/angular.js"></script>
    <script src="js/form.js"></script>
    <script type="text/css">
        /*
         ng-valid: the model is valid
         ng-invalid: the model is invalid
         ng-valid-[key]: for each valid key added by $setValidity
         ng-invalid-[key]: for each invalid key added by $setValidity
         ng-pristine: the control hasn't been interacted with yet
         ng-dirty: the control has been interacted with
         ng-touched: the control has been blurred
         ng-untouched: the control hasn't been blurred
         ng-pending: any $asyncValidators are unfulfilled
         */
    </script>

    <link rel="stylesheet" href="css/form.css"/>
</head>
<body ng-app="myModule">
    <div id="main" ng-controller="myController">
        <form name="form" novalidate class="css-form">
            <h3>Required, Input</h3>
            <div>
                <label>Name: <input type="text" ng-model="user.name" name="name" required /></label>
            </div>
            <div ng-show="form.$submitted || form.name.$touched">
                <div ng-show="form.name.$error.required" class="fieldError">Name is required field.</div>
            </div>

            <h3>ng-pattern, Input</h3>

            <div class="field">
                <label>Age: <input type="text" ng-model="user.age" name="age" ng-pattern="/^\d+$/" /></label>
            </div>
            <div ng-show="form.$submitted || form.age.$touched">
                <div ng-show="form.age.$error.pattern" class="fieldError">
                    Must be number
                </div>
            </div>

            <h3>Required, textarea</h3>
            <div>
                <label>Description: <textarea cols="40" rows="10" ng-model="user.desc" name="desc" ng-trim="true" ng-maxlength="100" ng-minlength="5" ng-pattern="/^com.*/" required ></textarea></label>
            </div>
            <div ng-show="form.$submitted || form.desc.$touched || form.desc.$dirty">
                <div ng-show="form.desc.$error.minlength" class="fieldError">
                    Min length is 5
                </div>
                <div ng-show="form.desc.$error.pattern" class="fieldError">
                    Should start with 'com'
                </div>
            </div>

            <h3>Email</h3>
            <div><label>Email: <input type="email" ng-model="user.email" ng-model-options="{updateOn: 'keyup blur'}" name="email" required /></label></div>
            <div ng-show="form.$submitted || form.email.$touched || form.email.$dirty">
                <div ng-show="form.email.$error.required" class="fieldError">Email is required field.</div>
                <div ng-show="form.email.$error.email" class="fieldError">Email format error.</div>
            </div>

            <h3>Customized Validator, Number</h3>
            <div>
                <label>Nunber(0-10): <input type="number" ng-model="user.number" name="number" min="0" max="10" integer required /></label>
            </div>
            <div ng-show="form.$submitted || form.number.$touched || form.number.$dirty">
                <div ng-show="form.number.$error.integer" class="fieldError">
                    It's not an number
                </div>
                <div ng-show="form.number.$error.min" class="fieldError">
                    Min number is 0
                </div>
                <div ng-show="form.number.$error.max" class="fieldError">
                    Max number is 10
                </div>
                <div ng-show="form.number.$error.required" class="fieldError">
                    Number is required field
                </div>
            </div>

            <h3>Customized A-synchronized Validator</h3>
            <div>
                <label>Parent Name: <input type="text" ng-model="user.parent" name="parent" parentname required /></label>
            </div>
            <div ng-show="form.$submitted || form.parent.$touched || form.parent.$dirty">
                <div ng-show="form.parent.$error.parentname" class="fieldError">
                    parent name is not existing
                </div>
                <div ng-show="form.parent.$pending.parentname" class="fieldPending">
                    parent name is checking...
                </div>
                <div ng-show="form.parent.$error.required" class="fieldError">
                    parent name is required
                </div>
            </div>

            <h3>Redefine built in validator</h3>
            <div>
                <label>Email 2: <input type="email" ng-model="user.email2" name="email2" override-email required /></label>
            </div>
            <div ng-show="form.$submitted || form.email2.$touched || form.email2.$dirty">
                <div ng-show="form.email2.$error.email" class="fieldError">
                    Email format is not right
                </div>
            </div>

            <h3>Customized Editable Div</h3>
            <div>
                <div contentEditable="true" ng-model="user.editable" title="click to edit">Some</div>
            </div>

            <h3>Radio button</h3>
            <div>
                <!--Sex: <input id="male" type="radio" ng-model="user.sex" value="male" /><label for="male">Male: </label>-->
                <!--<input id="female" type="radio" ng-model="user.sex" value="female" /><label for="female">Female: </label>-->
                Sex: <label><input type="radio" ng-model="user.sex" value="male" />Male: </label>
                <label><input type="radio" ng-model="user.sex" value="female" />Female: </label>
            </div>

            <h3>Check box</h3>
            <div>
                <label><input type="checkbox" ng-model="user.agree" name="agree" required /> I am Agree</label>
            </div>
            <div ng-show="user.agree">
                <label>Write down your agreement: <input type="text" ng-model="user.agreement" name="agreement" required /></label>
            </div>
            <div ng-show="form.$submitted || form.agree.$touched">
                <div ng-show="form.$submitted || form.agreement.$touched">
                    <div ng-show="form.agreement.$error.required" class="fieldError">
                        Need to input agreement.
                    </div>
                </div>
                <div ng-show="form.agree.$error.required" class="fieldError">
                    Please agree the licence
                </div>
            </div>

            <h3>Select - Single</h3>
            <div>
                <label>
                    Single Select:
                    <select ng-model="user.selectSingle" name="selectSingle" required>
                        <option value="">---Please select---</option>
                        <option value="value1">Label1</option>
                        <option value="value2">Label2</option>
                        <option value="value3">Label3</option>
                    </select>
                </label>
            </div>
            <div ng-show="form.$submitted || form.selectSingle.$touched || form.selectSingle.$dirty">
                <div ng-show="form.selectSingle.$error.required" class="fieldError">
                    Required to select
                </div>
            </div>

            <h3>Select - Multiple</h3>
            <div>
                <label>
                    Multiple Select:
                    <select ng-model="user.selectMultiple" name="selectMultiple" multiple required>
                        <option value="value1">Label1</option>
                        <option value="value2">Label2</option>
                        <option value="value3">Label3</option>
                    </select>
                </label>
            </div>
            <div ng-show="form.$submitted || form.selectMultiple.$touched || form.selectMultiple.$dirty">
                <div ng-show="form.selectMultiple.$error.required" class="fieldError">
                    Required to select
                </div>
            </div>

            <h3>Select - Repeat</h3>
            <div>
                <label>
                    ng-repeat Select:
                    <select ng-model="user.selectRepeat" name="selectRepeat" required>
                        <option value="">---Please select---</option>
                        <option ng-repeat="option in repeatList" value="{{option.id}}">{{option.label}}</option>
                    </select>
                </label>
            </div>
            <div ng-show="form.$submitted || form.selectRepeat.$touched || form.selectRepeat.$dirty">
                <div ng-show="form.selectRepeat.$error.required" class="fieldError">
                    Required field
                </div>
            </div>

            <h3>Select - Option, with default selection</h3>
            <div>
                <label>
                    ng-options Select:
                    <select ng-model="user.selectOptions"
                        name="selectOptions"
                        ng-options="option.label for option in repeatList track by option.id"
                        required>
                        <option value="">---Please select---</option>
                    </select>
                </label>
            </div>
            <div ng-show="form.$submitted || form.selectOptions.$touched || form.selectOptions.$dirty">
                <div ng-show="form.selectOptions.$error.required" class="fieldError">
                    Required field
                </div>
            </div>

            <h3>Select - Directive, parsing and formatting value</h3>
            <div>
                <label>
                    Directive override Select:
                    <select ng-model="user.selectCustomized" name="selectCustomized" non-string-select required>
                        <option value="1">Label1</option>
                        <option value="2">Label2</option>
                        <option value="3">Label3</option>
                    </select>
                </label>
            </div>

            <h3>Button and Submit</h3>
            <div>
                <button class="btn btn-default" ng-click="reset($event)">Reset(Click)</button>
                <button class="btn btn-default" ng-click="save(user)">Save to Master(Submit)</button>
            </div>
        </form>

        <h3>Result:</h3>
        <pre>
User: {{user | json}}
Master: {{master | json}}
        </pre>
    </div>
</body>
</html>