<div class="scopeDirectiveContainer">
    <h3>Attribute, @, parent => child</h3>

    <div class="value">
        <div class="display">
            {{isolatedAttributeFoo}}
        </div>
        <div class="setValue">
            <label>Set: <input type="text" ng-model="isolatedAttributeFoo" required /></label>
        </div>
    </div>

    <h3>Binding, =, parent <> child </h3>

    <div class="value">
        <div class="display">
            {{isolatedBindingFoo}}
        </div>
        <div class="setValue">
            <label>Set: <input type="text" ng-model="isolatedBindingFoo" required /></label>
        </div>
    </div>

    <h3>Expression, &, call parent function</h3>

    <div class="value">
        <div class="display">
            <label>New Value: <input type="text" ng-model="newValue" name="newValue" required /></label>
        </div>
        <div class="setValue">
            <button class="btn btn-default" ng-click="isolatedExpressionFoo({newFoo: newValue})">Send</button>
        </div>
    </div>
</div>