<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width">
  <meta charset="UTF-8">
  <title>Provider</title>

  <script src="../vendor/angular/angular.js"></script>
  <script src="../js/provider.js"></script>
</head>
<body ng-app="myModule">
<div id="main" ng-controller="myController">
  <h3>Provider $get(), string</h3>
  value1: {{value1}}<br/>
  <h3>Provider $get(), object</h3>
  value2: {{value2}}<br/>
  <h3>Provider $get(), function</h3>
  value3: {{value3}}<br/>
  <h3>Provider $get(), function, configured with constant, and with config()</h3>
  value4: {{value4}}<br/>
</div>
</body>
</html>