<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width">
  <meta charset="UTF-8">
  <title>Event Propagation</title>

  <script src="../vendor/angular/angular.js"></script>
  <script src="../js/event_propagation.js"></script>
</head>
<body ng-app="myModule">
<div id="main" ng-controller="myController">
  <div>Base controller: {{count}}, one time binding: {{::count}}</div>
  <div ng-controller="myController">
    <div>Middle controller: {{count}}</div>
    <div>
      <button ng-click="up()">Emit</button>
      <button ng-click="down()">Broadcast</button>
    </div>
    <ul>
      <li ng-repeat="item in [1, 2, 3]" ng-controller="myController">
        <div>Child controller: {{count}}</div>
      </li>
    </ul>
  </div>
</div>
</body>
</html>