<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width">
  <meta charset="UTF-8">
  <title>IOTF table</title>

  <script src="../vendor/angular/angular.js"></script>
  <script src="../vendor/angular-translate/angular-translate.min.js"></script>
  <script src="../js/iotf_table.js"></script>
  <style type="text/css">
    table td {
      padding: 5px 10px;
    }

    .switchLanguage {
      padding: 20px;
    }
  </style>
</head>
<body ng-app="myModule">
<div id="main" ng-controller="myController">
  <h1>{{'name' | translate}}</h1>
  <div class="switchLanguage">
    <button class="btn btn-default" ng-click="switchLanguage('en')">EN</button>
    <button class="btn btn-default" ng-click="switchLanguage('cn')">CN</button>
  </div>
  <!-- Table -->
  <div class="dashboardTable">
    <div data-iotc-loading-animation data-ng-if="loading && items.length > 0"></div>
    <div class="row">
      <div class="col-md-12">
        <div data-iotc-auto-resize data-bottom-offset="40" class="table-responsive"
             data-ng-class="{devicesLoading: loading}">
          <div class="header-background"></div>
          <div class="th-inner extra-icons hidden-xs">
          </div>
          <div class="fixed-table-container-inner">
            <table>
              <thead>
              <tr>
                <th class="check hidden-xs">
                  <div class="th-inner">
                    <input type="checkbox" data-ng-checked="selection.areAllSelected()"
                           data-ng-click="selection.toggleSelectAll()" style="position:static"/></div>
                  &nbsp; <!-- give the invisible header non-empty content so height will be set -->
                </th>


                <th class="table-header" data-ng-class="{ 'hidden-xs': headerData.showxs === false }"
                    data-ng-repeat="headerData in tableHeaders" data-ng-if="headerData.visible">
                  <div data-iotc-dashboard-table-header data-sort-property="sortProperty"
                       data-can-sort="headerData.sortable" data-header-property="headerData.header"
                       data-translate-label="headerData.label"></div>
                </th>
              </tr>
              </thead>
              <tbody>
              <tr data-ng-repeat="item in items">

                <td class="check">
                  <input type="checkbox" data-ng-checked="selection.isSelected(item)"
                         data-ng-click="selection.toggleSelectOne(action)"/>
                </td>
                <td class="primary-value">
                  {{item.name}}
                </td>
                <td class="hidden-xs">
                  {{item.description}}
                </td>

                <td class="icon-cell">
                  <div
                    data-tooltip="{{ 'app.analytics.table.delete-tooltip' | translate}}"
                    data-tooltip-trigger="mouseenter"
                    data-tooltip-placement="left"
                    data-tooltip-popup-delay="400"
                  >
                    <img
                      data-iotc-svg
                      class="icon enabled"
                      data-ng-src="assets/icons/IOT_Icons_Delete_Active.svg"
                      data-ng-click="!selection.isAnySelected() && delItem(item)"
                      data-ng-class='{enabled: !selection.isAnySelected(), disabled: selection.isAnySelected()}'
                    />
                  </div>
                </td>
              </tr>
              <tr class="no-content" data-ng-if='items.length == 0 && !loading'>
                <td class="announcement" colspan="100%">
                  <span data-translate>app.devices.action.no-records</span>
                </td>
              </tr>
              <tr class="no-content" data-ng-if="items.length === 0 && loading">
                <td class="announcement" colspan="100%">
                  <div class="hidden-xs" data-iotc-loading-badge data-first-line="app.main.loading"></div>
                  <div class="visible-xs" data-iotc-loading-badge></div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>