<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
  <script src="../vendor/angular/angular.js"></script>
  <script type="text/javascript">
    var module = angular.module('myApp', []);

    // module.directive.
    // 'student' is the directive
    module.directive('student', function () {
      var obj = {
        restrict: "E", // It's an element
        template: "Worker: {{student.name}}, Age: {{student.age}}, Gender: {{student.gender}}", // Template
        scope: {
          student: "=name" // How to distinguish each element
        }
      };

      // Page initialize will call this one.
      // Only called once.
      obj.compile = function (element, attributes) {
        // Change element
        element.css('background-color', '#efefef');

        // linkFunction will link each element with scope to get element data
        var linkFunction = function ($scope, element, attributes) {
          //                    element.html("Worker: {{$scope.student.name}}, Age: {{$scope.student.age}}, Gender: {{$scope.student.gender}}");
          element.css("font-family", 'Verdana');
          element.css('color', '#777');
        };

        return linkFunction;
      };

      return obj;
    });

    // Controller
    module.controller('myController', function ($scope) {
      $scope.Hunter = {
        name: "Hunter Ji",
        age: 32,
        gender: "Male"
      };

      $scope.Sara = {
        name: "Sara Yun",
        age: 31,
        gender: "Female"
      };
    });
  </script>
</head>
<body ng-app="myApp">
<h1>Customized Directive => "student"</h1>
<div ng-controller="myController">
  <student name="Hunter"></student>
  <br/>
  <student name="Sara"></student>
</div>
</body>
</html>